.filter-card {
    border: 1px solid #D9D9D9;
    border-radius: 14px;
    max-width: 425px;
}

.filter-card-header {
    background: #F6F6F6;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 14px 14px 0 0;
    padding: 15px 20px;
}

.filter-card-inner {
    padding: 20px;
}