@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root{
  --primary-btn: #0140B9;
  --primary-bg: #101D3A;
}

body{
  font-family: 'Poppins', sans-serif !important;
  color: #333333;
}
.fw-bold{}
.fw-light{
  font-weight: 300 !important;
}
.fw-regular{
  font-weight: 400 !important;
}
.fw-medium{
  font-weight: 500 !important;
}
.fw-semibold{
  font-weight: 600 !important;
}
.fw-bold{
  font-weight: 700 !important;
}
h1, h2{font-size: 40px !important;}
h3{font-size: 30px !important;}
h4{font-size: 33px !important;}
h5{font-size: 25px !important;}
h6{font-size: 20px !important;}
.p-sm{
  font-size: 14px !important;
}
.p-xs{
  font-size: 12px !important;
}
.p-md{
  font-size: 18px;
}
.p-lg{
  font-size: 20px;
}
ul.no-bullet{
  list-style: none !important;
  padding-left: 0 !important;
}
.p-xlg{font-size: 24px;}
.regular{font-weight: 400 !important;}
.medium{font-weight: 500 !important;}
.semi-bold{font-weight: 600 !important;}
.bold{font-weight: 700 !important;}
.x-bold{font-weight: 800 !important;}
.text-justify{text-align: justify !important;}
.primary-bg{
  background-color: var(--primary-bg);
}
.text-gray{
  color: #999999;
}

a{
  display: inline-block;
  cursor: pointer;
  transition: ease-in-out .2s;
}
a:hover{
  color: #0140B9;
}
.l-orange-text{
  color: #FFEFE0;
}
.grey-text{
  color: #666666 !important;
}
.l-grey-text{
  color: #CCCCCC !important;
}
.orange-text{
  color: #0140B9;
}
.green-text{
  color: #00D223;
}
.d-blue-text{
  color: #13133E !important;
}
.blue-text{
  color: #3E80FC !important;
}
.lh-15{
  line-height: 30px;
}
.modal-dialog{
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin)*2);
}
.modal.show {
  display: block;
  background: rgb(0 0 0 / 45%);
}
.site-modal .modal-content{
  background: url('../images/modal-bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: 0 7px 55px rgb(0 0 0 / 10%);
}
.site-modal .modal-dialog{
  max-width: 600px;
}
.site-modal .modal-body{
  padding: 30px 50px;
}
/* .site-modal .modal-title{
  font-size: 22px !important;
} */

.close-btn{
  position: absolute;
  border: 0;
  background: transparent;
  padding: 0;
  color: white;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  transition: ease-in-out .2s;
}
.full-screen-modal .modal-dialog {
  min-width: calc(100vw - 20px);
  margin: 0;
}
.full-screen-modal .modal-content {
  min-height: 100vh;
  background: url('../images/big-modal-bg.png') no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}
.transparent-btn{
  padding: 0 !important;
  border: 0 !important;
  background: transparent !important;
}
.underline{
  text-decoration: underline;
}
:focus{
  outline: none !important;
}
.red-text{color: #DC0000;}
.m-red-text{color: #E30000 !important;}
.checkbox-container {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: #b7b7b7 !important;
  padding-left: 23px;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 2px solid #6D7492;
}
.checkmark:after {
  content: '\2714';
  font-size: 11px;
  color: white;
  background: #6D7492;
  display: none;
  position: absolute;
  /* top: -2px; */
  width: 100%;
  line-height: 1;
  /* right: 2px; */
  height: 100%;
  text-align: center;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.white-text{
  color: white !important;
}
a.white-text:hover{
  color: #7ca3ec !important;
}
.w-180{
  width: 180px !important;
}
.cursor-pointor{
  cursor: pointer;
}
.lottie-icon{
  width: 230px;
  margin: -30px auto;
}
.no-underline{
  text-decoration: none !important;
}
:focus{
  outline: none !important;
  box-shadow: none !important;
}
.dropdown-menu{
  border: 0 !important;
  box-shadow: 0 3px 66px rgb(0, 0, 0, .08);
}
.w-140{
  width: 140px !important;
}
.back-link{
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777777;
}
.mnh-100{min-height: calc(100vh - 150px) !important;}
.table-tabs.nav-tabs {
  border: 0;
  gap: 12px;
  margin-top: 20px;
}
.w-80{
  width: 80px !important;
}
.site-input.w-80{
  padding: 5px 20px;
  text-align: center;
}
.d-grey-text{
  color: #333333;
}
.mnw-0{min-width: 0 !important;}
.mxw-100{max-width: 100% !important;}
.w-51{width: 51px !important; padding: 5px 10px;}
.cursor-pointer{cursor: pointer;}

.user-wrapper{
  background-color: #0C1529;
  color: #fff;
}
.page-section{
  padding: 50px 0;
}


/*** Nav Tabs  Pills  Start***/
.nav-pills{
  border-bottom: 0px;
}
.nav-pills .nav-item{ margin-right: 15px;}
.nav-pills .nav-item:last-child{ margin-right: 0px;}
.nav-pills .nav-link {
  font-size: 17px;
  display: block;
  padding: 10px 30px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills .nav-link {
  border:1px solid #707070;
  box-shadow: 0px 0px 0px #163459;
  background: #091634;
  line-height: 1.1;
  border-radius: 50px;
  min-width: 165px;
  text-align: center;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .show>.nav-link {
  color: #fff;
  background: #0140B9;
  border-color: #0140B9;
}
/*** Nav Tabs  Pills  End ***/
/* BreadCrumb Start */
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb a{
  color: #707581;
  text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item {
  padding-left: 1rem;
}
.breadcrumb-item+.breadcrumb-item:before {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: block;
  padding: 3px;
  content: "";
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 1rem;
  margin-top: 7px;
}
.breadcrumb-item.active{
  color: #fff;
}
/* BreadCrumb End */
/* 
.page-title h3{
  font-size: 35px;
} */

@media only screen and (max-width: 768px) {
  .checkbox-container {
    display: block;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1199px) {
  h1, h2{font-size: 35px !important;}
  h3{font-size: 27px !important;}
  h4{font-size: 30px !important;}
  h5{font-size: 25px !important;}
  .p-lg{font-size: 18px;}
  .p-md{font-size: 16px;}
}
@media screen and (max-width: 767px) {
  h1, h2{font-size: 30px !important;}
  h3{font-size: 26px;}
  h4{font-size: 26px !important;}
  h5{font-size: 23px !important;}
  .p-xlg{font-size:20px}

  .page-section{
    padding: 30px 0;
  }
}
@media screen and (max-width: 575px) {
  h3{font-size: 22px !important;}
  h1,h2{font-size:24px!important}
  h4{font-size: 23px !important;}
  h5{font-size: 21px !important;}
  .p-lg{font-size: 16px;}
  .p-md{font-size: 15px;}
  body{
    font-size: 14px !important;
  }
  .w-180{width: 100% !important;}
  .site-modal .modal-body{
    padding: 10px 20px;
  }
  .site-modal .modal-body br{
    display: none;
  }
}